name: Build Debug

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.203"

      - name: Set up variables
        id: vars
        run: |
          # Extract package version from project
          echo "version=$(grep -oP '<Version>\K[^<]+' CWVR.csproj)" >> "$GITHUB_OUTPUT"
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build CWVR
        run: dotnet build

      - name: Configure GPG Key
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Prepare and bundle package
        run: |
          # Set up template
          mkdir package
          git --work-tree=./package checkout origin/thunderstore ./

          # Copy and sign debug binaries
          cp bin/Debug/netstandard2.1/CWVR.dll ./package/BepInEx/plugins/CWVR/
          cp bin/Debug/netstandard2.1/CWVR.Preload.dll ./package/BepInEx/patchers/CWVR/
          gpg --output ./package/BepInEx/plugins/CWVR/CWVR.dll.sig --detach-sig ./package/BepInEx/plugins/CWVR/CWVR.dll
          gpg --output ./package/BepInEx/patchers/CWVR/CWVR.Preload.dll.sig --detach-sig ./package/BepInEx/patchers/CWVR/CWVR.Preload.dll

          # Move assets
          mv ./package/contentwarningvr ./package/BepInEx/plugins/CWVR/contentwarningvr

          # Copy docs and license
          cp CHANGELOG.md ./package/CHANGELOG.md
          cp Docs/Thunderstore/README.md ./package/README.md
          cp LICENSE ./package/LICENSE

          # Update Thunderstore manifest
          jq '.version_number = "${{ steps.vars.outputs.version }}"' ./package/manifest.json > ./package/manifest_new.json
          mv ./package/manifest_new.json ./package/manifest.json

      - name: Upload build artifacts
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: CWVR-${{ steps.vars.outputs.version }}-dev-${{ steps.vars.outputs.sha_short }}
          path: ./package
